.expertise-scroller {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  user-select: none;
  padding: 1.25rem 0;
  position: relative;
  cursor: grab;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );

  &:active {
    cursor: grabbing;
  }
}

.expertise-inner {
    display: flex;
    width: max-content;
    gap: 1.25rem;
    will-change: transform;
}

.expertise-list {
  display: flex;
  gap: 1.25rem;
  flex-shrink: 0;
}

.expertise-item {
    white-space: nowrap;
}
